@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Number selector hidden until game starts */
div.hidden {
 display: none; 
}

/* Header styling - Default theme */
header {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Rampart One", sans-serif;
  font-size: 25px;
  z-index: 999;
  width: 100%;
  height: 100px;
  background-color: rgb(235, 180, 108);
  color: #333;
}

i#logo {
  text-align: center;
  padding-bottom: 10px;
  font-size: 50px;
  z-index: 999;
}

header > h1 {
  text-align: center;
  font-size: 50px;
  padding: 10px 0;
  z-index: 999;
}


/* Body styling - Default theme */
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  left: 0px;
  background-color: bisque;
  color: #333;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

h2 {
 font-family: "Rampart One", sans-serif;
 font-size: 40px;
 margin-top: 25px;
 margin-bottom: 30px;
}


/* Navigation Bar Styling */
div.navbar {  
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #444;
}

div.navbar a {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #FFF;
}

div.navbar a:hover {
  background-color: #000;
  color: #FFF;
}

/* Current/active navbar link */
div.navbar a.active {
  background-color: #333;
  color: #FFF;
}


/* Home Page Styling */
div.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
}

div.img-div {
  margin: 10px 50px 20px 50px;
  text-align: center;
}

div.img-div img {
  width: 30rem;
  border: 10px solid #FFF;
}

div.img-div p {
  font-size: 12px;
}

div.intro-text {
  width: 500px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 80px;
}

div.intro-text p{
  padding-bottom: 30px;
  text-align: left;
}


/* Instructions Page Styling */
div#instructions {
  width: 700px;
  margin-bottom: 80px;
  font-size: 18px;
}

div#instructions h2 {
  text-align: center;
  margin-bottom: 50px;
}

ul {
  margin: 20px 0;
  font-size: 16px;
}

li {
  padding: 15px 0;
  margin-left: 50px;
}


/* Game Page Styling */
/* Game Settings Styling */
div#game-options {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: #FFF;
  width: 100%;
  font-family: "Roboto", sans-serif;
  max-height: 40px;
}

div#game-options > * {
  padding: 0 50px;
  display: flex;
  align-items: center;
}

div#game-options h2 {
  font-size: 20px;
  padding: 10px;
}

/* Difficulty Settings Styling */
div#difficulty > label, 
div#theme > label,
div#game-time > label
{
  padding-right: 5px;
}

div#difficulty > input,
div#theme > input,
div#game-time > input
{
  font-size: 20px;
  margin: 0 15px 0 0;
}

div#difficulty,
div#theme,
div#game-time
{
  margin: 0 10px 0 30px;
}

/* Start New Game Button */
button#start-game-btn {
  justify-self: center;
  margin-top: 5vh;
  margin-bottom: 20px;
  font-size: 30px;
  background-color: #333;
  color: #FFF;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
}

/* Stats section */
p#timer, p#lives {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/* Game Board */
div#game{
  display: flex;
  justify-content: center;
}

div#number-selector {
  margin-bottom: 50px;
}

div#number-selector > p {
  border: 1px solid black;
  border-radius: 20%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  background-color: #333;
  color: #FFF;
  cursor: pointer;
}

div#grid {
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 450px;
  height: 450px;
}

p.square {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0;
  padding-top: 5px;
  font-size: 30px;
  cursor: pointer;
}

div#number-selector > p.selected {
  background-color: rgb(248, 217, 177);
  color: #333;
}

div#grid > p.selected {
  background-color: rgb(248, 217, 177);
  color: #333;
}

p.incorrect {
  background-color: #333;
  color: red;
}

p.rightBorder {
  border-right: 5px solid black;
}

p.bottomBorder {
  border-bottom: 5px solid black;
}


/* Footer Styling */
footer {
  background-color: #333;
  color: bisque;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100vw;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  position: fixed;
}

div#github-icon a {
  color: bisque;
  font-size: 20px;
  bottom: 5px;
  margin: 0 40px;
}

div#linkedin-icon a {
  color: bisque;
  font-size: 20px;
  bottom: 5px;
  margin: 0 40px;
}


/* Light Theme */
header.light {
  background-color: #FFF;
  color: #333;
}

body.light {
  background-color: #FFF;
  color: #333;
}

footer.light {
  background-color: #333;
  color: #FFF;
}


/* Dark Theme */
header.dark {
  background-color: #333;
  color: bisque;
}

body.dark {
  background-color: #555;
  color: bisque;
}

footer.dark {
  background-color: #333;
  color: bisque;
}


/* Coffee Theme */
header.coffee {
  background-color: #80411E;
  color: bisque;
}

body.coffee {
  background-color: #E4BC84;
  color: #333;
  font-weight: bold;
}

footer.coffee {
  background-color: #AD6D2F;
  color: #333;
}


/* Unicorn Theme */
header.unicorn {
  background-color: #9f90d0;
  color: #333;
}

body.unicorn {
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, .6) 0%,
    rgba(255, 154, 0, .6) 10%,
    rgba(208, 222, 33, .6) 20%,
    rgba(79, 220, 74, .6) 30%,
    rgba(63, 218, 216, .6) 40%,
    rgba(47, 201, 226, .6) 50%,
    rgba(28, 127, 238, .6) 60%,
    rgba(95, 21, 242, .6) 70%,
    rgba(186, 12, 248, .6) 80%,
    rgba(251, 7, 217, .6) 90%,
    rgba(255, 0, 0, .6) 100%
);
  color: #222;
}

footer.unicorn {
  background-color: #333;
  color: bisque;
}


/* Add responsiveness - screens 1200 pixels and less */
@media screen and (max-width: 1200px) {
  div.intro {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
  }
}


/* Add responsiveness - screens 900 px and less */
@media screen and (max-width: 900px) {
  .navbar a {
    float: none;
    display: block;
  }

  header {
    padding-top: 10px;
  }

  header > h1, i#logo {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  div#instructions {
    width: 450px;
  }
}


/* Add responsiveness - screens 500 pixels and less */
@media screen and (max-width: 500px) {
  header {
    height: 75px;
  }

  header > h1, i#logo {
    font-size: 25px;
  }

  div#instructions {
    width: 300px;
  }

  div#instructions p {
    font-size: 14px;
  }

  div#instructions h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  ul {
    font-size: 12px;
    margin: 10px;
  }

}